*{
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    background:#f1f1f1;
    height: 100%;   
    margin: 0px;  
}

.container-top{
    background:white;
    padding: 5px;  
    border-bottom: 2px solid #8A8C82;
}

.container-bot{
    color: white;
    width: 250px;
    background: #011638;
    height: 100vh;
    position: fixed;
    border-top: 3px solid #011638;
}

.img{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 180px;
    border: 1px solid white;
}

.container-bot ul li{
    color: white;
    font-family: verdana;
    text-align: left;
    padding: 10px;
    margin: 10px;
    list-style: none; 
    border-bottom: 1px solid rgba(100,100,100,.3);
}

.container-top p{
    color: #011638;
    margin: 15px;
} 

.container-bot  h6{
    padding-top: 10px;
    margin-left: 15px;
    font-size: 20px;
}

a{  
    color:white;
    text-decoration: none!important;  
    transition: 500ms;  
}

a:hover{
   color: #f1f1f1;
}

.scroll{
    overflow: scroll;
}

.dropdown-item{
    background:#f1f1f1;
}
.dropdown-item:hover{
    background:grey;
}

.dropdown-menu{
    background: #f1f1f1;
}



.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .album{   
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 160px;
        height: 165px;
        border-radius:180px;
        border: none;
        color: rgba(255,255,255,1);
        text-align: center;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        -webkit-box-shadow: 1px 0 9px 4px rgba(0,0,0,0.5) ;
        box-shadow: 1px 0 9px 4px rgba(0,0,0,0.5) ;     
  }

  .card{
     margin-top: 25px;
  }

  .logout{
      height: 25px;
      width: 120px;
      color: #011638!important;
      margin-left: 10px;
      background:transparent;
      border:1px solid #f1f1f1;
      cursor: pointer;
      transition: 500ms;
  }

  .logout:hover{
  background: grey;
}

.music-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left:20rem;
    margin-top: 4rem;
    margin-right: 1rem;
}