i{
	color: rgb(95, 143, 190);
}
.navbar-brand{
	height: 20% ;
}
.navbar-nav.navbar-center {
    display: flex;
    justify-content: center;
}
.bg-nav{
	background-color: #1C3144;
}

.center{
    display: block;
    margin: 10px auto;
}

.fa-user{
   color: grey;
}

.navbar form button{
    color:#A2AEBB;
    background-color: #4F759B;
    border-color: #4F759B;
}

.navbar form button:hover{
    background-color:rgb(95, 143, 190);
    border-color: #4F759B;
}

.fa-search{
color: white;
}

.mlist{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 1000px;
    height: 25px;
    border: 2px solid rgba(0,150,255,0.91);
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.shuy{
    font-size:18;
    text-align: center;
}

ul{
    height: 50px;
}

ul li {
    margin-bottom: 10px;
    list-style: none;
    color: black;
}

.carajo{
    margin-top:4rem;
    height: 100%;
}